language: ruby
cache:
  bundler: true
  directories:
    - node_modules

rvm:
  - 2.6.3

addons:
  chrome: stable

services:
  - xvfb
  - mysql

before_script:
  - export DISPLAY=:99.0
  - export DB_USERNAME=root
  - export DB_PASSWORD=""
  - RAILS_ENV=test bundle exec rails db:create
  - RAILS_ENV=test bundle exec rails db:schema:load
  - RAILS_ENV=test bundle exec rails yarn:install
  - RAILS_ENV=test bundle exec rails assets:precompile
  - bash .travis/install_chromedriver.sh
  - mysql -e 'CREATE DATABASE IF NOT EXISTS rails_blog_test;' -uroot
  - RAILS_ENV=test bundle exec rake db:schema:load

script:
  - bundle exec rspec ./spec
