language: ruby

rvm:
  - 2.2.2

script:
  - bundle exec rspec ./spec

services:
  - mysql

before_script:
  - export DB_USERNAME=root
  - export DB_PASSWORD=""
  - mysql -e 'CREATE DATABASE IF NOT EXISTS rails_blog_test;' -uroot
  - RAILS_ENV=test bundle exec rake db:schema:load
