language: ruby
cache:
  bundler: true
  directories:
    - node_modules

rvm:
  - 2.5.3

addons:
  chrome: stable

script:
  - bundle exec rspec ./spec

services:
  - mysql

before_script:
  - export DISPLAY=:99.0
  - export DB_USERNAME=root
  - export DB_PASSWORD=""
  - sh -e /etc/init.d/xvfb start && sleep 3
  - RAILS_ENV=test bundle exec rails db:create
  - RAILS_ENV=test bundle exec rails db:schema:load
  - RAILS_ENV=test bundle exec rails yarn:install
  - RAILS_ENV=test bundle exec rails webpacker:compile
  - bash .travis/install_geckodriver.sh
