language: ruby
cache:
  bundler: true
  directories:
    - node_modules

rvm:
  - 2.5.3

script:
  - bundle exec rspec ./spec

services:
  - mysql

before_script:
  - export DB_USERNAME=root
  - export DB_PASSWORD=""
  - RAILS_ENV=test bundle exec rails db:create
  - RAILS_ENV=test bundle exec rails db:schema:load
  - RAILS_ENV=test bundle exec rails yarn:install
  - RAILS_ENV=test bundle exec rails webpacker:compile
  - bash .travis/install_chromedriver.sh
