<% provide(:page_title, t('admin/settings.index')) %>

<%= form_for :site_setting, url: [:admins, :settings], method: :put do |f| %>

  <% @site_settings.each do |site_setting| %>
    <div class="form-group">
      <%= f.label site_setting[:var] %>
      <%= f.text_field site_setting[:var], value: site_setting[:value], class: 'form-control' %>
    </div>
  <% end %>

  <%= f.submit class: 'btn btn-primary' %>

<% end %>
