<% provide(:page_title, t('admin/jekyll_imports.new')) %>

<div class="page-header">
  <h1>导入Jekyll日志</h1>
</div>

<%= form_for [:admin, @jekyll_import] do |f| %>
  <div class="form-group">
    <%= f.label :post %>
    <%= f.file_field :post %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
