default: &default
  pool: 5
  encoding: utf8
  adapter: mysql2
  host: 127.0.0.1
  username: <%= ENV['DB_USERNAME'] || 'root' %>
  password: <%= ENV['DB_PASSWORD'] || '123456' %>

development:
  <<: *default
  database: rails_blog_dev

test:
  <<: *default
  database: rails_blog_test