<% provide(:page_title, '首页') %>

<article>
  <h1 class="page-title">欢迎页</h1>

  <div class="content">
    <p>
      因为种种原因，从第一篇日志算起，到目前目前一共有<%= @post_count %>篇日志了
      你可以在左侧的归档日志中找到他们。
    </p>
    <p>这里的内容乱七八糟，也可能会包含一些令人反感的内容。所以，浏览时需谨慎。</p>
    <p>因为是我私人的Blog，所以这里的内容不确保中立性，大部分内容都带有严重的主观色彩，望见谅。</p>
  </div>
</article>
