//= require nprogress
//= require nprogress-bootstrap

@import "bootstrap-sprockets"
@import "bootstrap"

.pb20
  padding-bottom: 20px

.alert-alert
  @extend .alert-danger

.form-control-date-select
  width: auto
  display: inline-block

.btn.btn-file-upload
  overflow: hidden
  position: relative

table#uploads-table
  tbody > tr > td
    vertical-align: middle

input.file-hidden-input
  top: 0
  right: 0
  opacity: 0
  font-size: 200px
  position: absolute
