<% provide(:page_title, t('admin/uploads.new')) %>

<div class="page-header">
  <h1>上传新文件</h1>
</div>

<%= form_for [:admin, @upload] do |f| %>

  <div class="form-group">
    <%= f.label :file %>
    <%= f.file_field :file %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>

<% end %>
